*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-image: linear-gradient(#24252a,black);
    opacity: 86%;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}
a,button{
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
button{
    background-color: #0088a9;
    padding: 9px 25px;
    border: none;
    border-radius: 8px;
    transition: all 0.4s ease 0s;
}
li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #0088a9;
    margin: auto;
    display: block;
}
li a:hover::after{
    width: 100%;
    transition: width 0.3s linear;
}
nav li a:hover{
    color: #0088a9;
    transition: all 0.4s ease 0s;
}

.content-items img{
   width: 100%;
   height: 100vh;
   background-size:cover ;
   background-position: center;
}
.heading{
    color: white;
    position: absolute;
    font-size: 34px;
    top: 18%;
    margin-left: 11px;
}
.heading1{
    color: white;
    position: absolute;
    font-size: 34px;
    top: 25%;
    margin-left: 60px;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; 
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

select {
  word-wrap: normal; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }